<!DOCTYPE html>
<html>
    <head>
        <title>List Page</title>
    </head>
    <body>
        <h1>출석부</h1>
        <table border="1">
            <tr>
                <td></td>
                <td></td>
                <% dateArr.forEach(function (item, index) { %>
                    <td width="50"><%= item %></td>
                <% }); %>
            </tr>
            <% students.forEach(function (item, index) { %>
            <tr>
                <td>
                    <%= item.student_num %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <% for(var i=0; i < dateArr.length; i++) { var day = dateArr[i];%>
                    <td><%= dateArr[i] in data ? (data[day].indexOf(item.student_num) >=0 ? '출석' : '결석' ) : '결석' %></td>
                <% } %>
            </tr>
            <% }); %>
        </table>
    </body>
    <form action="/attend/20071533" method="post">
        <input type="hidden" name="data" value='{"studentNum": "20071533"}'/>
        <input type="submit" value="전송"/>
    </form>
</html>